// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #21759b

// Font
font-default = 14px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif
font-mono = Menlo, "Source Code Pro", Monaco, Consolas, Consolas, monospace

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'
font-icon-version = "4.0.3" 

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

// font number ref: http://astronautweb.co/snippet/font-awesome/

// Width
//page-width = 1200px

